video {
    background-color: #ddd;
    border-radius: 7px;
    margin: 10px 0px 0px 10px;
    width: 480px;
}

#yourVideo {
    background-color: #ddd;
    border-radius: 7px;
    margin: 300px 0px 0px 10px;
    width: 120px;
}

#container {
    text-align: center;
}

		nav{
			background-color:black !important;
		}
		h1{
			font-size:60px;
		}
		#logo{
			height:5vh;
			padding-top:5px;
		}
		.no-margin{
			margin:0;
		}
		.set-padding{
			padding-top:1vh;
			padding-left:10vw;
		}
		.full{
			width:100vw;
			background-color:#eee;
/*			background-image:url('./background.jpg');
			background-repeat: no-repeat;
			background-size: cover;*/
			padding-top:10vh;
		}
		.container{
			overflow:hidden;
		}
		.text-center{
			text-align:center;
		}
		.overflowhidden{
			overflow:hidden;
		}
		.fixedwidth{
			width:250px;
		}
		.margin{
			margin-top:5vh;
			margin-bottom:5vh;
		}
		.marginbottom{
			margin-bottom:5vh;
		}
		.btn.btn-success{
			font-size:18px;
			background: #ec7063;
			border:0;
		}
		#phoneimg{
			transition-duration: 2s;
			transform: translateX(-200px);
			opacity:0;
			/*background-color:rgba(255,255,255,0.5);*/
			/*border-radius: 10px;*/
		}
		.fadeinwidth{
			opacity:1 !important;
			transform: translateX(0) !important;
		}
		footer{
			background-color:black;
			height:8vh;
			padding-right:10vw;
			padding-top:10px;
			color:#aaa;
		}